[Unit]
Description=Consul Service
After=network.target

[Service]
Type=simple
User=vagrant
ExecStart=/home/vagrant/consul agent -server -bootstrap-expect 1 -data-dir /tmp/consul -bind 172.20.10.200
Restart=on-abort

[Install]
WantedBy=multi-user.target